.flexcenter{
    display: flex;
    height: 100vh;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerContainer{
    
    display: flex;
    flex:1;
  
}
.listScroll{
    overflow-y: auto;
}
.header + .listScroll{
    height: 95%;

}
.subcrTabPane{
    height: 40vh;
    overflow-y: auto;
}
.clientTable{
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 5vh;
}
.flexCol{
    flex-direction: column !important;
}
/* .tableFixHead          { overflow-y: auto; height: 70vh; display: block; width:100%}
.tableFixHead thead th { position: sticky; top: 0; } */
/* .tableFixHead thead tr.green {
    background-color: #21ba45!important;
    color: #fff!important; 
} */

/* ol > li:before {
    content: counter(list) ")";
    counter-increment: list;
    padding-right: 3em;
    position: absolute;
    text-align: right;
    width: 40px;
} */